* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.header {
  height: 13%;
  background-color: #252422;
  color: #f18854;
}

.header_text {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  padding-left: 50px;
}

.header_text img {
  width: 65px;
  margin-right: 15px;
  filter: invert(100%);
}

label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  border: none;
  border-radius: 10px;
  background-color: rgb(60, 116, 219);
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#cityInput {
  border: none;
  height: 18px;
  width: 110px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 10px;
}

.main {
  height: 75%;
  background-color: #3a3938;
  color: white;
}

.wrapper_main {
  margin-right: 150px;
  padding-top: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}
.container2 {
  width: 350px;
  margin: 0;
  padding: 0;
}

.mapbox-container {
  width: 600px;
  height: 450px;
}

.mapboxgl-canvas {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.footer {
  background-color: #252422;
  height: 12%;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-size: 20px;
}
.footer :first-child {
  color: #f18854;
  margin-right: 5px;
}

#weather-info {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(2, 0.5fr);
  grid-gap: 2px;
}

#weather-info p {
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
}

.exchange-rates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.container2 h3 {
  color: #f18854;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.exchange-rates p {
  margin: 5px 0;
  font-size: small;
}
