<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header class="header">
    <section class="header_section">
      <div class="header_text">
        <h2>Weather Forecast</h2>
      </div>
      <div class="header_login">
        <a href="/signup">Sign Up</a> | <a href="/login">Login</a>
      </div>
    </section>
  </header>

  <main class="main">
    <section class="wrapper_main">
      <div class="container-home">
        <h2>Welcome to Weather App!</h2>
        <h3>Please <span>sign up</span> or <span>log in</span> to access weather information.</h3>
      </div>

    </section>
  </main>

  <footer class="footer">
    <div>Nurzhan Zhakiya</div>
    <div> - SE-2206 </div>
  </footer>
</body>

</html>